<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Magic Decks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Liste des Decks</h1>

        <!-- Bouton de déconnexion -->
        <div class="logout">
            <a href="{{ url_for('my_blueprint.logout') }}">Se déconnecter</a>
        </div>

        {% if decks %}
            <ul>
            {% for deck in decks %}
                <li>
                    <a href="{{ url_for('my_blueprint.view_deck', deck_id=deck.id) }}">{{ deck.name }}</a>
                    <!-- Bouton pour supprimer un deck -->
                    <a href="#" onclick="deleteDeck({{ deck.id }}); return false;">Supprimer</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Aucun deck trouvé. Utilisez le formulaire ci-dessous pour créer un nouveau deck.</p>
        {% endif %}

        <!-- Formulaire pour créer un nouveau deck -->
        <input type="text" id="new-deck-name" placeholder="Nom du nouveau deck">
        <button id="create-deck-button">Créer un nouveau deck</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#create-deck-button').click(function() {
                let deckName = $('#new-deck-name').val();
                if (deckName) {
                    $.ajax({
                        url: '/api/deck/create',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ name: deckName }),
                        success: function(response) {
                            if (response.success) {
                                location.reload();
                            } else {
                                alert('Erreur lors de la création du deck.');
                            }
                        }
                    });
                } else {
                    alert('Veuillez entrer un nom de deck.');
                }
            });
        });

        function deleteDeck(deckId) {
            if (confirm('Êtes-vous sûr de vouloir supprimer ce deck ?')) {
                $.ajax({
                    url: `/delete_deck/${deckId}`,
                    method: 'GET',
                    success: function() {
                        location.reload();
                    },
                    error: function() {
                        alert('Erreur lors de la suppression du deck.');
                    }
                });
            }
        }
    </script>
</body>
</html>
